.DS_Store
.ipynb_checkpoints
Icon

toc_generator.py
toc_content.txt
Debuggex.html
ga.js
logo.png
main.css
main.js
file_removal.txt
old02to04/*
old05/*
old06/*
old07_listcomps_etc/*
old08/*
old10_internet/*
tmp/
21_os_filesystems/Send2Trash-1.4.1-py3-none-any.whl
bokeh/arkiv/*
env/