<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>ProductServlet</servlet-name>
		<servlet-class>com.google.appengine.codelab.ProductServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductServlet</servlet-name>
		<url-pattern>/product</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ItemServlet</servlet-name>
		<servlet-class>com.google.appengine.codelab.ItemServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ItemServlet</servlet-name>
		<url-pattern>/item</url-pattern>
	</servlet-mapping>
		<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
