<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CustomKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>InterfaceBuilderAction.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A4E1496C196BCE0500D94872</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A4E1497E196BCE0600D94872</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A4E14993196BDC0C00D94872</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A4E1499D196BDC0C00D94872</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
