body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.hero-unit {
  margin: 0px auto 0 270px;
  
  width: 70%;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #777;
  border-radius: 6px;
  padding: 10px;
  display: inline-block;
  justify-content: space-between;
}

.hero-unit h1 {
  font-size: 30px;
  color: white;
  line-height: 1;
  letter-spacing: -1px;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #cee;
  color: #000;
  padding: 0.2em 0;
}

.sidekick {
  display:inline-block;
  margin-top: 50px;
  margin-left: 10px;
  
  width: 45%;
  font-size: 12px;

  background-color: #ccc;
  border-radius: 6px;
  padding: 10px;
  vertical-align: top;
}

.sidekick h1 {
  font-size: 20px;
  color: black;
  line-height: 1;
  letter-spacing: -1px;
}

.sidekick span {
  font-size: 16px;
  margin: 10px;
  padding: 10px;
}

.sidekick pre {
  line-height: 15px;
  font-size: 14px;
  margin: 0;
  white-space: pre-wrap;
}

.notready {
  font-size: 16px;
  line-height: 1;
  letter-spacing: -1px;
  color: red;
}

.ready {
  font-size: 16px;
  line-height: 1;
  letter-spacing: -1px;
  color: green;
}

.item {
    width: 250px;
   
    float: left;
    margin: 5px;
    border: 2px solid gray;
}

.item.top{
  position: absolute;
  top: 0;
  left:0;
  background: white;
}

.item.about {
  position: absolute;
  top: 160px;
  left: 0px;  
  background: pink;
}

.logo {
  content: url('http://thedapps.com/images/thedappslogo1.png');
  
  max-width: 80%;                    
}
.workbench {
  content: url('../images/ethereum-workbench.png');
  
  max-width: 100%;                    
}