
<%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>

<div class="section delete">
  <h2>Delete Section</h2>
  
  <%= form_for(:section, :url => {:action => 'destroy', :id => @section.id}) do |f| -%>

    <p>Are you sure you want to permanently delete this section?</p>
  
    <p class="reference-name"><%= @section.name %></p>
  
    <div class="form-buttons">
      <%= submit_tag("Delete Section") %>
    </div>
    
  <% end %>
</div>
