asn1crypto==0.24.0
boto==2.49.0
boto3==1.7.72
botocore==1.10.72
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
cryptography==2.3
Django==2.1
djangorestframework==3.8.2
docutils==0.14
idna==2.7
jmespath==0.9.3
pycparser==2.18
python-dateutil==2.7.3
pytz==2018.5
requests==2.19.1
s3transfer==0.1.13
six==1.11.0
urllib3==1.23
