{% extends "base.html" %}

{% block content %}

<div class="jumbotron">
	<h2>Articles for you!</h2>
	<p>This is an example to show the potential of an offcanvas layout pattern in Bootstrap. Try some responsive-range viewport sizes to see it in action.</p>
</div>

<div class="container">
	<div class="row">
	{% if articles.count > 0 %}
		{% for article in articles %}
		<div class="col-xs-6 col-lg-4">
			<h2>{{ article.title }}</h2>
			<p>{{ article.body|lower|truncatewords:"20" }}</p>
			<p>{{ article.likes }} people liked this article</p>
			<p><a class="btn btn-default" href="{% url 'article.views.article' article.id %}">View Details</a></p>
		</div>
		{% endfor %}
	{% else %}
	<div class="col-xs-6 col-lg-4">
		<p>None to show!</p>
	</div>
	{% endif %}
	</div>
</div>

{% endblock %}