{% extends "base.html" %}

{% block sidebar %}
<ul>
	<li><a href="/articles/all/">Articles</a></li>
	<li><a href="/articles/create/">Create Article</a></li>
</ul>
{% endblock %}

{% block content %}

<h2>Language is: {{ language }}</h2>

<h2>Sessions Language is: {{ session_language }}</h2>

{% if articles.count > 0 %}
	{% for article in articles %}
	<div>
		<h2><a href="/articles/get/{{ article.id }}">{{ article.title }}</a></h2>
		<p>{{ article.body|lower|truncatewords:"20" }}</p>
		<p>{{ article.likes }} people liked this article</p>
	</div>
	{% endfor %}
{% else %}
<p>None to show!</p>
{% endif %}

{% endblock %}