<h1>Demo#index</h1>

<p>Hello from the Index Page!</p>

<%= link_to('Go back to hello page', {:action => 'hello', :id => 20, :page => 5}) %>

<%= image_tag('rails.png', :size => '50x64', :alt => 'Rails logo') %>