
<%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>

<div class="subject edit">
  <h2>Update Subject</h2>

  <%= form_for(:subject, :url => {:action => 'update', :id => @subject.id}) do |f| %>

    <%= render(:partial => "form", :locals => {:f => f}) %>
    
    <div class="form-buttons">
      <%= submit_tag("Update Subject") %>
    </div>
    
  <% end %>
</div>
